<ion-header dir="rtl">
  <ion-toolbar>
    <ion-title slot="start">واجب </ion-title>
    <ion-buttons slot="end" (click)="backToClassroomHome(quizz.id);">
      <ion-label>رجوع</ion-label>
      <ion-icon  name="arrow-back-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-header dir="rtl">
  <ion-item>
    <ion-label>صفحة الواجب</ion-label>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col>
        اسم الواجب: {{quizz.quizzName}}
      </ion-col>
      <ion-col *ngIf="quizz.active">
        هذا الواجب مفعل
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
         عدد المحاولات الممكنة : {{quizz.maxChances}}
      </ion-col>
      <ion-col>
        درجة الواجب: {{quizz.grade}}
      </ion-col>
    </ion-row>  
  </ion-grid>
  <ion-item>
    <ion-button (click)="editQuizz(quizz.id);">تعديل هذا الواجب</ion-button>
    <ion-button (click)="deleteQuizz(quizz.id);">حذف هذا الواجب</ion-button>
  </ion-item>
  <ion-item >
    <ion-button size="mid" (click)="presentActionSheet(quizz.id);">سؤال جديد</ion-button>
  </ion-item>
</ion-header>

<ion-content dir="rtl">
    <div *ngFor="let question of quizz.questions; let i=index">
      <ion-item dir="rtl">
        <br> السؤال رقم {{i+1}}: <br><br>
        {{question.text}}
        <ion-icon (click) = "viewQuestion(question.id);" slot="end" name="arrow-back-outline"></ion-icon>
      </ion-item>
    </div>
</ion-content>
<ion-footer>
  <ion-button expand="block" (click)="goToStudentScores(quizz.id);"> درجات الطلاب في هذا الواجب</ion-button>
</ion-footer>
