<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon (click)="backToClassroomHome(quizz.id);" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>العودة إلى صفحة الفصل</ion-title>
  </ion-toolbar>
  <ion-title>quizz-teacher-main</ion-title>
</ion-header>

<ion-header dir="rtl">
  <ion-grid>
    <ion-row>
      <ion-col>
        {{quizz.quizzName}}
      </ion-col>
      <ion-col *ngIf="quizz.active">
        هذا الواجب مفعل
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
         عدد المحاولات الممكنة : {{quizz.maxChances}}
      </ion-col>
      <ion-col>
        درجة الواجب: {{quizz.grade}}
      </ion-col>
    </ion-row>  
  </ion-grid>
  <ion-item>
    <ion-button (click)="editQuizz(quizz.id);">Edit this quizz</ion-button>
    <ion-button (click)="deleteQuizz(quizz.id);">Delete this quizz</ion-button>
  </ion-item>
  <ion-item dir="rtl">
    <ion-button size="mid" (click)="presentActionSheet(quizz.id);">سؤال جديد</ion-button>
  </ion-item>
</ion-header>

<ion-content dir="rtl">
    <div *ngFor="let question of quizz.questions; let i=index">
      <ion-item dir="rtl">
        <br> السؤال رقم {{i+1}}: <br><br>
        {{question.text}}
      </ion-item>
      <div *ngFor="let quizzAnswer of question.quizzAnswers">
        <ion-item dir="rtl" class="ion-padding-start">
          {{quizzAnswer.text}}
          <ion-item>
            <ion-checkbox disabled=true [(ngModel)]="quizzAnswer.correct"></ion-checkbox>
          </ion-item>
        </ion-item>
      </div>
    </div>
</ion-content>
