<ion-header dir="rtl">
  <ion-toolbar>
    <ion-title slot="start">واجب </ion-title>
    <ion-buttons slot="end" (click)="backToQuizzPage(quizz.id);">
      <ion-label>رجوع</ion-label>
      <ion-icon  name="arrow-back-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content dir="rtl">
  <ion-item>
    <ion-label>
      هل أنت متأكد من حذف هذا الواجب ؟

    </ion-label>
  </ion-item>
  <br>
  <ion-item>
    <ion-button (click)="deleteQuizz()">حذف</ion-button>
    <ion-button (click)="backToQuizzPage()">تراجع</ion-button>

  </ion-item>
</ion-content>
