<ion-header dir="rtl">
  <ion-toolbar>
    <ion-title slot="start">واجب موبايل</ion-title>
    <ion-buttons slot="end">
      <ion-label>رجوع</ion-label>
      <ion-icon (click)="goToClassroomPage();" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content dir="rtl">
  
<div *ngIf="!pendingChances.length && submittedChances.length < maxAllowedChances">
  <ion-item>
    <ion-label>
      عدد الفرص المتاحة في هذا الواجب هو {{maxAllowedChances}}
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      لقد استخدمت {{submittedChances.length}} من هذه الفرص
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      للبدء في الإجابة على أسئلة الواجب قم بالضغط على ابدأ الإجابة
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-button expand="block" (click)="newChance();">
      ابدأ الإجابة
    </ion-button>
  </ion-item>
</div>
<div *ngIf="submittedChances.length >= maxAllowedChances">
  <ion-item>
    <ion-label>
      عدد الفرص المتاحة في هذا الواجب هو {{maxAllowedChances}}
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      لقد استخدمت {{submittedChances.length}} من هذه الفرص
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-button>
      لقد أكملت كل الفرص المتاحة لك في هذا الواجب
    </ion-button>
  </ion-item>
</div>
<div *ngIf="pendingChances.length==1">
  <ion-item>
    <ion-label>
      عدد الفرص المتاحة في هذا الواجب هو {{maxAllowedChances}}
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      لقد استخدمت {{submittedChances.length}} من هذه الفرص
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="ion-text-wrap">لم تقم بإكمال الإجابة السابقة لهذا الواجب، لإكمال إجاباتك قم بالضغط على مواصلة الإجابة</ion-label>
  </ion-item>
  <div *ngFor="let chance of pendingChances;">
  <ion-item>
    <ion-button (click)="continueChance(chance.id);">
      مواصلة الإجابة على أسئلة هذا الواجب
    </ion-button>
  </ion-item>
  </div>
</div>
<div *ngFor="let chance of submittedChances;">
  <ion-grid>
  <ion-row>
    <ion-col>
      <ion-label>
        تاريخ المحاولة
      </ion-label>
    </ion-col>
    <ion-col>
      <ion-label>
        الدرجة
      </ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-datetime displayFormat="H:mm DD-MM-YYYY" display-timezone="utc" [(ngModel)]="chance.grade_date">
      </ion-datetime>  
    </ion-col>
    <ion-col>
      <ion-label>
        {{chance.grade}}
      </ion-label>
    </ion-col>
  </ion-row>
</ion-grid>
</div>
</ion-content>
