<ion-header>
  <ion-toolbar>
    <ion-title>student-chances-main</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content dir="rtl">
  <ion-item>
    <ion-button (click)="goToClassroomPage();">
      العودة لصفحة الفصل
    </ion-button>
  </ion-item>
<div *ngIf="!pendingChances.length && submittedChances.length < maxAllowedChances">
  <ion-item>
    <ion-button (click)="newChance();">
      start this quizz
    </ion-button>
  </ion-item>
</div>
<div *ngIf="submittedChances.length >= maxAllowedChances">
  <ion-item>
    <ion-button>
      You have finished all your chances
    </ion-button>
  </ion-item>
</div>
<div *ngIf="pendingChances.length==1">
  <div *ngFor="let chance of pendingChances;">
  <ion-item>
    <ion-button (click)="continueChance(chance.id);">
      continue with this quizz
    </ion-button>
  </ion-item>
  </div>
</div>
<div *ngFor="let chance of submittedChances;">
  <ion-grid>
  <ion-row>
    <ion-col>
      <ion-label>
        تاريخ المحاولة
      </ion-label>
    </ion-col>
    <ion-col>
      <ion-label>
        الدرجة
      </ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-datetime displayFormat="H:mm DD-MM-YYYY" display-timezone="utc" [(ngModel)]="chance.grade_date">
      </ion-datetime>  
    </ion-col>
    <ion-col>
      <ion-label>
        {{chance.grade}}
      </ion-label>
    </ion-col>
  </ion-row>
</ion-grid>
</div>
</ion-content>
