<ion-header dir="rtl">
  <ion-toolbar>
    <ion-title slot="start">واجب </ion-title>
    <ion-buttons slot="end" (click)="backToQuizzPage(quizz.id);">
      <ion-label>رجوع</ion-label>
      <ion-icon  name="arrow-back-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content dir="rtl">
  <div>
    <h2>تعديل بيانات الواجب</h2>
    <div>
        <ion-item>
          <ion-label>اسم الواجب:</ion-label>
          <ion-input [(ngModel)]="quizzData.quizzName" placeholder="Quizz Name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>تفعيل: </ion-label>
          <ion-checkbox [(ngModel)]="quizzData.active"></ion-checkbox> 
        </ion-item>
        <ion-item>
          <ion-label text-wrap>عدد المحاولات المسموحة:</ion-label>
          <ion-select [(ngModel)]="quizzData.maxChances" placeholder="عدد المحاولات المسموحة ">
            <ion-select-option value="1">
              1
            </ion-select-option>
            <ion-select-option value="2">
              2
            </ion-select-option>
            <ion-select-option value="3">
              3
            </ion-select-option>
            </ion-select>
        </ion-item>
        
        
    </div>
    <ion-button (click)="editQuizz()">حفظ</ion-button>
    <ion-button (click)="backToQuizzPage()">تراجع</ion-button>
  </div>
</ion-content>
