<ion-header dir="rtl">
  <ion-toolbar>
    <ion-title>واجب </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content dir="rtl">
  <ion-item>
    هل أنت متأكد من حذف هذه المجموعة أو الفصل ؟ <br><br>  اسم المجموعة أو الفصل: {{classroom.classroomName}} 
    <br><br> ملاحظة: هذه الخطوة ستؤدي إلى حذف جميع البيانات المرتبطة بهذه المجموعة أو الفصل
  </ion-item>
  <br>
  <ion-item>
    <ion-button (click)="deleteClassroom()">حذف</ion-button>
    <ion-button (click)="cancelDelete()">تراجع</ion-button>
  </ion-item>
</ion-content>
