<ion-header dir="rtl">
  <ion-toolbar>
    <ion-title slot="start">طلاب تم تسجيلهم في الفصل</ion-title>
    <ion-buttons slot="end">
      <ion-label>رجوع</ion-label>
      <ion-icon (click)="backToClassroomPage();" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content dir="rtl">
  <ion-item *ngIf="enrollments.length">
    <ion-label>
      الاسم
    </ion-label>
    <ion-label>
      تاريخ التسجيل
    </ion-label>
  </ion-item>
  <div *ngFor="let enrollment of enrollments">
    <ion-item>
      <ion-label>
        {{enrollment.full_name}}
      </ion-label>
      <ion-label>
        {{enrollment.approval_date}}
      </ion-label>
    </ion-item>
  </div>
  
</ion-content>
