<ion-header>
  <ion-toolbar>
    <ion-title>student-chances-continue</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content dir="rtl">
  <ion-item>
    هناك {{questionsList.length}} أسئلة في هذا الواجب
  </ion-item>
  <div *ngFor="let question of questionsList">
    <div *ngIf="question.seq==currentQuestionSeq + 1">
      <ion-item>
        السؤال رقم {{question.seq}}
      </ion-item>
      <ion-item>{{currentQuestionText}}</ion-item>
      <div *ngFor="let answer of answersList">
        <ion-item>
          <ion-label> {{answer.chanceAnswerText}} </ion-label>
          <ion-checkbox [(ngModel)]="answer.chanceAnswerSelected"></ion-checkbox>
        </ion-item>
      </div>
      <ion-item>
        <ion-button (click)="previousQuestion();">السؤال السابق</ion-button>
        <ion-button *ngIf="question.seq < questionsList.length" (click)="nextQuestion();">السؤال التالي</ion-button>
        <ion-button *ngIf="question.seq == questionsList.length" (click)="submitChance();">إنهاء الإجابة</ion-button>
      </ion-item>
    </div>
  </div>

</ion-content>
