<ion-header>
  <ion-toolbar>
    <ion-title>Question-add</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content dir="rtl">
  <div>
    <h2>سؤال جديد</h2>
    <div>
        <ion-item>
          <ion-label>نص السؤال</ion-label>
          <ion-input [(ngModel)]="questionData.text" placeholder="نص السؤال"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>درجة السؤال </ion-label>
          <ion-input [(ngModel)]="questionData.score" placeholder="أدخل درجة السؤال"></ion-input> 
        </ion-item>
        <ion-item>
          <ion-label>الإجابة رقم 1:</ion-label>
          <ion-input [(ngModel)]="quizzAnswerData1.text"></ion-input> 
        </ion-item>
        
        <ion-item>
          <ion-label>الإجابة رقم 2:</ion-label>
          <ion-input [(ngModel)]="quizzAnswerData2.text"></ion-input> 
        </ion-item>
        
        <ion-item>
          <ion-label>الإجابة رقم 3:</ion-label>
          <ion-input [(ngModel)]="quizzAnswerData3.text"></ion-input> 
        </ion-item>
        
        <ion-item>
          <ion-label>الإجابة رقم 4:</ion-label>
          <ion-input [(ngModel)]="quizzAnswerData4.text"></ion-input> 
        </ion-item>
        
        <ion-radio-group (ionChange)="selectAnswer($event)">
          <ion-list-header>
            <ion-label>الإجابة الصحيحة هي:</ion-label>
          </ion-list-header>
        <ion-item>
          <ion-label>الإجابة الأولى </ion-label>
          <ion-radio value=1></ion-radio> 
        </ion-item>
        <ion-item>
          <ion-label>الإجابة الثانية</ion-label>
          <ion-radio value=2></ion-radio> 
        </ion-item>
        <ion-item>
          <ion-label>الإجابة الثالثة</ion-label>
          <ion-radio value=3></ion-radio> 
        </ion-item>
        <ion-item>
          <ion-label>الإجابة الرابعة</ion-label>
          <ion-radio value=4></ion-radio> 
        </ion-item>
        </ion-radio-group>
        
        
    </div>
    <ion-button (click)="addQuestionSelect()">Save</ion-button>
  </div>
</ion-content>
