<ion-header>
  <ion-toolbar>
    <ion-title>Question-add</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content dir="rtl">
    <h2>سؤال جديد</h2>
        <ion-item text-wrap>
          <ion-label>نص السؤال</ion-label>
          <ion-textarea type="text" [(ngModel)]="questionData.text" placeholder="نص السؤال" ></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label>
            إضافة صورة للسؤال
          </ion-label>
          <ion-fab-button (click)="addQuestionPhoto()">
            <ion-icon name="camera"></ion-icon>
          </ion-fab-button>
        </ion-item>
      
        <ion-grid *ngIf="photoService.photo.webviewPath">
          <ion-row>
          <ion-col size="6">
              <ion-img [src]="photoService.photo.webviewPath"></ion-img>
          </ion-col>
          </ion-row>
        </ion-grid>
        <ion-item>
          <ion-label>درجة السؤال </ion-label>
          <ion-input [(ngModel)]="questionData.score" placeholder="أدخل درجة السؤال"></ion-input> 
        </ion-item>
        <ion-item>
          <ion-label>الإجابة رقم 1:</ion-label>
          <ion-input [(ngModel)]="quizzAnswerData1.text"></ion-input> 
          <ion-item>
            <ion-label>إجابة صحيحة </ion-label>
            <ion-checkbox [(ngModel)]="quizzAnswerData1.correct"></ion-checkbox> 
          </ion-item>
        </ion-item>
        <ion-item>
          <ion-label>الإجابة رقم 2:</ion-label>
          <ion-input [(ngModel)]="quizzAnswerData2.text"></ion-input> 
          <ion-item>
            <ion-label>إجابة صحيحة </ion-label>
            <ion-checkbox [(ngModel)]="quizzAnswerData2.correct"></ion-checkbox> 
          </ion-item>
        </ion-item>
        <ion-item>
          <ion-label>الإجابة رقم 3:</ion-label>
          <ion-input [(ngModel)]="quizzAnswerData3.text"></ion-input> 
          <ion-item>
            <ion-label>إجابة صحيحة </ion-label>
            <ion-checkbox [(ngModel)]="quizzAnswerData3.correct"></ion-checkbox> 
          </ion-item>
        </ion-item>
        <ion-item>
          <ion-label>الإجابة رقم 4:</ion-label>
          <ion-input [(ngModel)]="quizzAnswerData4.text"></ion-input> 
          <ion-item>
            <ion-label>إجابة صحيحة </ion-label>
            <ion-checkbox [(ngModel)]="quizzAnswerData4.correct"></ion-checkbox> 
          </ion-item>
        </ion-item>
       
      <ion-button color="primary" expand="block" (click)="presentActionSheet()">حفظ </ion-button>
      <ion-button color="tertiary" expand="block" (click)="cancel()">تراجع</ion-button>

  
</ion-content>
