<ion-header dir="rtl">
  <ion-toolbar>
    <ion-title slot="start">طلاب في انتظار موافقتك</ion-title>
    <ion-buttons slot="end" (click)="backToClassroomPage();">
      <ion-label>رجوع</ion-label>
      <ion-icon  name="arrow-back-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content dir="rtl">
  <ion-item *ngIf="enrollments.length">
    <ion-label>
      الاسم
    </ion-label>
    <ion-label>
      تاريخ طلب التسجيل
    </ion-label>
  </ion-item>
  <div *ngFor="let enrollment of enrollments;">
    
    <ion-item>
      <ion-label>
        {{enrollment.full_name}}
      </ion-label>
      <ion-label>
        {{enrollment.request_date}}
      </ion-label>
      <ion-button (click)="approvePendingEnrollment(enrollment.enrollmentId);">
        قبول التسجيل
      </ion-button>
    </ion-item>
  </div>
</ion-content>
