<ion-header dir="rtl">
  <ion-toolbar>
    <ion-title slot="start">واجب </ion-title>
    <ion-buttons slot="end" (click)="cancel();">
      <ion-label>رجوع</ion-label>
      <ion-icon  name="arrow-back-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content dir="rtl">
  <ion-item>
    <ion-label>حساب جديد</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>الاسم الرباعي </ion-label>
    <ion-input [(ngModel)]="credentials.fullName" placeholder="أدخل الاسم الرباعي"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>رقم التلفون</ion-label>
    <ion-input dir="ltr" disabled=true [(ngModel)]="credentials.email" placeholder="رقم الموبايل"></ion-input>
  </ion-item>
  <ion-radio-group [(ngModel)]="credentials.role" (ionChange)="roleSelected($event)">
    <ion-list-header>
      <ion-label>نوع الحساب:</ion-label>
    </ion-list-header>
  <ion-item>
    <ion-label>مدرس </ion-label>
    <ion-radio value="teacher"></ion-radio> 
  </ion-item>
  <ion-item>
    <ion-label>طالب</ion-label>
    <ion-radio value="student"></ion-radio> 
  </ion-item>
  </ion-radio-group>
  <ion-button expand="block" (click)="signupUser(credentials)">إنشاء حساب جديد</ion-button>


</ion-content>
