<ion-header dir="rtl">
  <ion-toolbar>
    <ion-title>واجب موبايل</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content dir="rtl">
  <div>
    <h2>حذف مادة</h2>
    <div>
      <h3>
        هل أنت متأكد من حذف المادة الدراسية التالية: {{courseData.courseName}} ؟
      </h3>
      <h3>
سيؤدي هذا إلى حذف جميع البيانات المرتبطة بهذه المادة الدراسية بما فيها الواجبات وإجابات الطلاب
      </h3>
    </div>
    <ion-button (click)="deleteCourse()">حذف</ion-button>
    <ion-button (click)="cancelDelete()">تراجع</ion-button>
  </div>
</ion-content>