<ion-header dir="rtl">
  <ion-toolbar>
    <ion-title slot="start">واجب </ion-title>
    <ion-buttons slot="end" (click)="backToStudentHome();">
      <ion-label>رجوع</ion-label>
      <ion-icon  name="arrow-back-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content dir="rtl">
  <ion-item>
    <h3>
      بحث عن فصل دراسي للتسجيل فيه
    </h3>
  </ion-item>
  <ion-item>
    للبحث عن فصل دراسي، قم بكتابة جزء من اسم المادة واسم المركز الدراسي واضغط ابحث
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="classroomSearchData.teacherName" placeholder="اسم المدرس"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="classroomSearchData.courseName" placeholder="اسم المادة"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="classroomSearchData.schoolName" placeholder="اسم المدرسة"></ion-input>
  </ion-item>
  <ion-item>
    <ion-button size="mid" (click)="searchForClassroom();">ابحث</ion-button>
  </ion-item>

  <ion-label *ngIf="classrooms.length">
    <h3>نتائج البحث:</h3>
  </ion-label>

  <div *ngFor="let classroom of classrooms;">
    <ion-card>
      <ion-card-content>
        <ion-item lines="none">
          {{classroom.course_name}}
        </ion-item>
        <ion-item lines="none">
          {{classroom.classroom_name}} - {{classroom.branch}} - {{classroom.college}} - {{classroom.department}} - {{classroom.school_name}}
        </ion-item>
        <ion-item lines="none">
          اسم المدرس: {{classroom.full_name}}
        </ion-item>
        <ion-item lines="none">
          من : {{classroom.start_date}} إلى {{classroom.end_date}}
        </ion-item>
        
        <ion-item>
          <ion-button *ngIf="classroom.status===null" (click)="addEnrollment(classroom.classroomId);">
            طلب التسجيل
          </ion-button>
          <ion-button *ngIf="classroom.status==='pending'" disabled="true">
            لقد قمت بطلب التسجيل سابقا - في انتظار موافقة المدرس
          </ion-button>
          <ion-button *ngIf="classroom.status==='approved'" disabled="true">
            أنت مسجل بالفعل في هذا الفصل
          </ion-button>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
