  <ion-header dir="rtl">
    <ion-toolbar>
      <ion-title slot="start">واجب موبايل</ion-title>
      <ion-buttons slot="end" (click)="goHome();">
        <ion-label>رجوع</ion-label>
        <ion-icon  name="arrow-back-outline"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding" dir="rtl">
    <ion-item>     
        <h3>
          {{classroom.classroomName}} - {{courseName}}
        </h3>  
    </ion-item>
    <div *ngIf="!quizzes.length">
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            Quizzes (0)
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-label>
            لم يقم أستاذ الفصل بتفعيل أي واجب حتى الان
          </ion-label>
        </ion-card-content>
      </ion-card>
    </div>
    <div *ngIf="quizzes.length">
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            الواجبات ({{classroom.quizzes.length}})
            <!-- <ion-button  size="small">عرض الكل</ion-button> -->
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          
        </ion-card-content>
        <div *ngFor="let quizz of classroom.quizzes;">
            <ion-item (click)="openQuizz(quizz.id);"> 
              {{quizz.quizzName}}
              <ion-icon  slot="end" name="arrow-back-outline"></ion-icon>
            </ion-item>
      </div>
      </ion-card>
    </div>

    
    
  </ion-content>
