<ion-menu side="start" content-id="main-content" autohide="true">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon name="mail" slot="start" (click)="goHome();"></ion-icon>
        <ion-label (click)="goHome();">رجوع إلى صفحة المدرس</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="paper-plane" slot="start"></ion-icon>
        <ion-label>Outbox</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="heart" slot="start"></ion-icon>
        <ion-label>Favorites</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="archive" slot="start"></ion-icon>
        <ion-label>Archived</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="create-outline" slot="start" (click)="editClassroom(classroomId);"></ion-icon>
        <ion-label (click)="editClassroom();">Edit this classroom</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="trash" slot="start" (click)="deleteClassroom(classroomId);"></ion-icon>
        <ion-label (click)="deleteClassroom(classroomId);">Delete this classroom</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
<ion-header dir="rtl">
  <ion-toolbar>
    <ion-title slot="start">واجب </ion-title>
    <ion-buttons slot="end">
      <ion-label>رجوع</ion-label>
      <ion-icon (click)="backToHome();" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


  

  <ion-content class="ion-padding" dir="rtl">
    <ion-item>
      <ion-label *ngIf="classroom">اسم الفصل أو المجموعة: {{classroom.classroomName}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-button slot="start" (click)="deleteClassroom(classroomId);">
        حذف
      </ion-button> 
      <ion-button slot="end"  (click)="editClassroom(classroomId);">
        تعديل
      </ion-button>
    </ion-item>
    <div *ngIf="!quizzes.length">
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            الواجبات (0)
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-button (click)="addQuizz(classroom.id)" expand="block">واجب جديد</ion-button>
        </ion-card-content>
      </ion-card>
    </div>
    <div *ngIf="quizzes.length">
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            الواجبات ({{classroom.quizzes.length}})
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-button (click)="addQuizz(classroom.id)" expand="block">واجب جديد</ion-button>
        </ion-card-content>
        <div *ngFor="let quizz of classroom.quizzes;">
            <ion-item (click)="openQuizz(quizz.id);">
              {{quizz.quizzName}}
              <ion-icon (click)="openQuizz(quizz.id);" slot="end" name="arrow-back-outline"></ion-icon>
            </ion-item>
      </div>
      </ion-card>
    </div>

    <div>
      <ion-card>
        <ion-card-header>
          <ion-card-title>
الطلاب
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            طلاب مسجلين ({{approvedRequests}})
            <ion-icon (click)="goToApprovedEnrollments(classroomId);"  slot="end" name="arrow-back-outline"></ion-icon>
          </ion-item>
          <ion-item>
            طلاب في إنتظار موافقتك ({{pendingRequests}})
            <ion-icon (click)="goToPendingEnrollments(classroomId);" slot="end" name="arrow-back-outline"></ion-icon>
          </ion-item>
        </ion-card-content>
        
      </ion-card>
    </div>
    
  </ion-content>
</div>