<ion-header dir="rtl">
  <ion-toolbar>
    <ion-title slot="start">
      واجب موبايل
    </ion-title>
    <ion-button slot="end" (click)="goToAccountPage();">إعدادات الحساب</ion-button>
  </ion-toolbar>
  
  <ion-item>
    
  </ion-item>
</ion-header>

<ion-content dir="rtl">
  <ion-item>
    <h3>
      اسم المستخدم: {{fullName}}
    </h3>
  </ion-item>
  <ion-item *ngIf="newQuizzesList.length>0" (click)="goToQuizzPage();">
    <ion-chip color="danger">
      <ion-label color="dark">واجبات جديدة ({{newQuizzesList.length}})</ion-label>
      <ion-icon name="alert-circle-outline"></ion-icon>
    </ion-chip>
  </ion-item>
  <div *ngIf="enrollments.length===0">
    <h3>
      أهلا بك في "واجب موبايل".. هذه الصفحة الرئيسية للطالب.. لم تقم بالتسجيل في أي فصل دراسي حتى الان.. قم بالضغط على "بحث عن فصل دراسي" وابحث عن الفصل او المجموعة الذي تريد أن تسجل فيها 
    </h3>
  </div>
  <ion-item>
    <div *ngIf="enrollments.length>0">
      <h3>
        أهلا بك في "واجب موبايل".. هذه الصفحة الرئيسية للطالب.. ستجد هنا الفصول الدراسية التي سجلت فيها 
      </h3>
    </div>
  </ion-item>
  
  
  <ion-item>
    <ion-button slot="end" size="mid" (click)="goToClassroomSearch();">
تسجيل في مادة أو فصل    </ion-button>
  </ion-item>
  <div *ngFor="let enrollment of enrollments;">
    <ion-card>
      <ion-card-content>
        <ion-item>
          اسم الفصل: {{enrollment.classroom_name}}
        </ion-item>
        <ion-item>
          اسم المادة: {{enrollment.course_name}}
        </ion-item>
        <ion-item>
          اسم المدرسة: {{enrollment.school_name}}
        </ion-item>
        <ion-item>
          اسم المدرس: {{enrollment.full_name}}
        </ion-item>
        <ion-button disabled="true" expand="block" *ngIf="enrollment.status=='pending'" >
          في انتظار موافقة المدرس
        </ion-button>
        <ion-button (click)="goToClassroom(enrollment.classroomId, enrollment.course_name);" expand="block" *ngIf="enrollment.status=='approved'" >
          الدخول إلى هذا الفصل
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
