<ion-header dir="rtl">
  <ion-toolbar>
    <ion-title slot="start">
      واجب موبايل
    </ion-title>
    <ion-button slot="end" (click)="signOut();">خروج</ion-button>
  </ion-toolbar>
  
  <ion-item>
    
  </ion-item>
</ion-header>

<ion-content dir="rtl">
  <div>
    <h2>
      أهلا بك في "واجب موبايل".. هذه الصفحة الرئيسية للطالب.. ستجد هنا الفصول الدراسية التي سجلت فيها 
    </h2>
    <ion-button size="mid" (click)="goToClassroomSearch();">بحث عن فصل دراسي</ion-button>
  </div>
  <div *ngFor="let enrollment of enrollments;">
    <ion-card>
      <ion-card-content>
        <ion-item>
          اسم الفصل: {{enrollment.classroom_name}}
        </ion-item>
        <ion-item>
          اسم المادة: {{enrollment.course_name}}
        </ion-item>
        <ion-item>
          اسم المدرسة: {{enrollment.school_name}}
        </ion-item>
        <ion-item>
          اسم المدرس: {{enrollment.full_name}}
        </ion-item>
        <ion-button disabled="true" expand="block" *ngIf="enrollment.status=='pending'" >
          في انتظار موافقة المدرس
        </ion-button>
        <ion-button (click)="goToClassroom(enrollment.classroomId);" expand="block" *ngIf="enrollment.status=='approved'" >
          الدخول إلى هذا الفصل
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
