<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title dir="rtl">
      واجب موبايل
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" dir="rtl">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="ion-text-center">برنامج الفصل</ion-title>
    </ion-toolbar>
  </ion-header>
  <div>
    <h2>
      أهلا بك في "واجب موبايل".. هذه الصفحة الرئيسية للمدرس.. ستجد هنا بيانات المواد التي تدرسها 
    </h2>
    <ion-button (click)="add()">
      مادة جديدة
    </ion-button>
  </div>

    <div *ngIf="!courses.length">
      <ion-item>
        <ion-label>
          لم تقم بإضافة أي مادة دراسية حتى الان..
        </ion-label>
      </ion-item>      
    </div>
    
    <div *ngFor="let course of courses;">
      <ion-card>
        <ion-item>
          <h1>{{course.courseName}}</h1> 
          <ion-button slot="end" (click)="delete(course.id)">
            حذف
          </ion-button> 
          <ion-button slot="end" (click)="edit(course.id)">
            تعديل
          </ion-button>
        </ion-item >
        <ion-item>
          <ion-button size="small" (click)="addClassroom(course.id);">
            فصل دراسي جديد
          </ion-button>
        </ion-item>
          <div>
            <ng-container *ngFor="let classroom of course.classrooms;">
              <ion-grid>
                <ion-row class="ion-align-items-center">
                  <ion-col>
                    {{classroom.classroomName}}
                  </ion-col>
                  <ion-col>
                    {{classroom.schoolName}}
                  </ion-col>
                  <ion-col class="ion-align-items-end">
                    <ion-button (click)="goToClassroom(classroom.id)" size="small" color="secondary"> فتح </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ng-container>
          </div> 
      </ion-card>    
    </div>
    
</ion-content>
